:root {
  --fontFamily: "qiuhong";
}
*,
html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: url("./assets/img/mouse.png"), default;
}

html,body {
  overflow: hidden;
  /* background-image: url("https://fastly.jsdelivr.net/gh/gwt805/static/imgs/bk-navgation-websites.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: center;
}

@font-face {
  font-family: qiuhong;
  src: url("./assets/ttf/QiuHong_Zip.ttf"); /*  https://fastly.jsdelivr.net/gh/gwt805/static/otf/QiuHong_Zip.ttf*/
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: #00000000;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(124, 124, 151, 0.4);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(68, 147, 199);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(68, 147, 199);
}

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
  display: none;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
  display: none;
}